:root {
	--font-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
	--color-bg-0: #fff;
	--color-theme-1: #CB4110;
	--color-theme-2: #255c00;
	--color-unfilled: #000000;
	--color-filling: #F2B705;
	--color-filled: #2c6e00;
	--color-text: #000;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

html,
body {
	margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
p {
	font-weight: 500;
}

p {
	line-height: 1.5;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1rem;
}